body{
    background-color:#EF7375;
}
.header {
  display: flow-root; 
  background-color: #4025d1;
 
}
.text {
    background-color: #5df073;
}
.abc{
  
  display: flow-root; 
  background-color: #4025d1;
}
